.settings
.idea
.swap
bin

frameworks/runtime-src/proj.android/gen
frameworks/runtime-src/proj.android/bin
frameworks/runtime-src/proj.android/out
frameworks/runtime-src/proj.android/target
frameworks/runtime-src/proj.android/assets
frameworks/runtime-src/proj.android/libs/armeabi/libcocos2dcpp.so
frameworks/runtime-src/proj.android/gen-external-apklibs
frameworks/runtime-src/proj.android/.idea
frameworks/runtime-src/proj.android/obj

frameworks/cocos2d-x/cocos/2d/Debug
frameworks/cocos2d-x/cocos/2d/Arm
frameworks/cocos2d-x/cocos/platform/android/java/bin
frameworks/cocos2d-x/cocos/platform/android/java/gen
frameworks/cocos2d-x/cocos/platform/android/ControllerManualAdapter/bin
frameworks/cocos2d-x/cocos/platform/android/ControllerManualAdapter/gen
frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/build

frameworks/runtime-src/proj.android//project.properties
*.iml
proj.ios_mac/iOS.app


# Xcode
.DS_Store
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
Pods/
Podfile.lock

